@use "sass:color";
@use "termeh";

@mixin use($colors: null, $sizes: null) {
    $colors: termeh.list-safe($colors, "use-modal", "colors", ());
    $sizes: termeh.map-safe($sizes, "use-modal", "sizes", ());

    $fallback-background: termeh.var("base", "color", white);
    $fallback-foreground: termeh.var("base", "foreground", black);
    $fallback-separator: termeh.var("base", "separator", #e0e4eb);
    $fallback-radius: termeh.var("radius", "normal");
    $fallback-padding: termeh.var("gap", "macro", 1.6em);

    $background: termeh.var("modal", "background", $fallback-background);
    $foreground: termeh.var("modal", "foreground", $fallback-foreground);
    $separator: termeh.var("modal", "separator", $fallback-separator);
    $shadow: termeh.var("modal", "shadow", none);

    $radius: termeh.var("modal", "radius", $fallback-radius);
    $padding: termeh.var("modal", "padding", $fallback-padding);

    $sheet-shadow: termeh.var("bottom-sheet", "shadow", $shadow);
    $sheet-radius: termeh.var("bottom-sheet", "radius", $radius);

    $decorator: termeh.var("decorator", "size", 2px);
    $gap-micro: termeh.var("gap", "micro", 8px);
    $line-height: termeh.var("line-height", "normal", 1.6em);

    $primary: termeh.color("primary");
    $primary-readable: color.mix($foreground, $primary, 20%);
    $primary-foreground: termeh.variant("primary", "foreground");

    @at-root {
        .modal-item {
            display: block;
            max-width: 100%;
            padding: $padding;
            position: relative;
            box-sizing: border-box;
            @include termeh.transition(all);

            .modal {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                position: relative;
                border-radius: $radius;
                color: $foreground;
                background: $background;
                box-shadow: $shadow;
                max-width: 100%;

                .modal-content {
                    z-index: 1;
                    display: block;
                    padding: $padding;
                    position: relative;
                }

                .modal-header {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    position: sticky;
                    top: 0;
                    z-index: 2;
                    background: $background;
                    border-top-left-radius: $radius;
                    border-top-right-radius: $radius;

                    .modal-handle {
                        display: none;
                        align-items: center;
                        justify-content: center;
                        padding: $gap-micro;
                        touch-action: none !important;

                        div {
                            display: block;
                            border-radius: 9999px;
                            background: $separator;
                            width: 4rem;
                            height: 4px;
                        }
                    }

                    .scroll-fade {
                        display: block;
                        position: absolute;
                        overflow: hidden;
                        left: 0;
                        right: 0;
                        top: 100%;
                        width: 100%;
                        height: 0;
                        z-index: -1;
                        background: linear-gradient(
                            to bottom,
                            rgba($background, 0.65),
                            transparent
                        );
                        @include termeh.transition(height);

                        @at-root {
                            .modal-dimmer.is-top-scrolled #{&} {
                                height: $padding * 4;
                            }
                        }
                    }

                    .modal-header-content {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        z-index: 1;
                        gap: $gap-micro;
                        padding: 1em $padding;
                        border-bottom: 1px solid $separator;

                        h6 {
                            flex: 1;
                            font-size: 1em;
                            font-weight: 500;
                            line-height: $line-height;
                            @include termeh.marginless();
                        }

                        .icon {
                            flex: none;
                            cursor: pointer;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }

                    &.is-empty {
                        .modal-header-content {
                            display: none;
                        }
                    }
                }

                .modal-actions {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    position: sticky;
                    bottom: 0;
                    z-index: 2;
                    background: $background;
                    border-bottom-left-radius: $radius;
                    border-bottom-right-radius: $radius;

                    .scroll-fade {
                        display: block;
                        position: absolute;
                        overflow: hidden;
                        left: 0;
                        right: 0;
                        bottom: 100%;
                        width: 100%;
                        height: 0;
                        z-index: -1;
                        background: linear-gradient(
                            to top,
                            rgba($background, 0.65),
                            transparent
                        );
                        @include termeh.transition(height);

                        @at-root {
                            .modal-dimmer.is-bottom-scrolled #{&} {
                                height: $padding * 4;
                            }
                        }
                    }

                    .modal-actions-content {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        z-index: 1;
                        gap: $gap-micro;
                        padding: 1em $padding;
                        border-top: 1px solid $separator;

                        .modal-action {
                            @include termeh.control();
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            cursor: pointer;
                            text-align: center;
                            width: auto;
                            white-space: nowrap;
                            text-decoration: none;
                            border-radius: $radius;
                            text-overflow: ellipsis;
                            padding: termeh.inline-padding();
                            @include termeh.transition(all);
                            @include termeh.unselectable();

                            &:hover {
                                text-decoration: none;
                                transform: scale(1.05);
                            }

                            &:not(.is-secondary) {
                                color: $primary-foreground;
                                background-color: rgba($primary, 0.65);

                                &:hover {
                                    background-color: $primary;
                                }
                            }

                            &.is-secondary {
                                &:hover {
                                    background-color: rgba($foreground, 0.1);
                                }
                            }
                        }
                    }

                    &.is-empty {
                        .modal-actions-content {
                            display: none;
                        }
                    }
                }

                &.is-loading {
                    @include termeh.loader($line-height, $primary, $decorator);

                    > * {
                        opacity: 0;
                    }
                }

                @each $name, $size in $sizes {
                    &.is-#{$name} {
                        width: $size;
                    }
                }

                @each $name, $color in termeh.colors($colors) {
                    &.is-#{$name} {
                        $-readable: color.mix($foreground, $color, 20%);
                        $-foreground: termeh.variant($name, "foreground");

                        > .modal-actions {
                            .modal-action {
                                &:not(.is-secondary) {
                                    color: $-foreground;
                                    background-color: rgba($color, 0.65);

                                    &:hover {
                                        background-color: $color;
                                    }
                                }
                            }
                        }

                        &.is-loading {
                            @include termeh.loader-color($color);
                        }
                    }
                }
            }

            &.is-hidden {
                position: absolute;
                overflow: hidden;
                top: 0;
                bottom: $padding * 2;

                .modal {
                    overflow: hidden;
                    background: $background;
                    transform-origin: top center;

                    > * {
                        opacity: 0;
                    }
                }
            }

            @include termeh.mobile() {
                padding: $padding * 2 0 0;

                .modal {
                    box-shadow: $sheet-shadow;
                    border-radius: $sheet-radius;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;

                    .modal-header {
                        border-top-left-radius: $sheet-radius;
                        border-top-right-radius: $sheet-radius;

                        &.is-empty {
                            background: $background;
                        }

                        .modal-handle {
                            display: flex;
                        }
                    }

                    .modal-actions {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
            }
        }
    }
}
